.intro {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 700px;
  padding: 40px;

  background-color: $color-alizarin;

  clip-path: polygon(0 0, 82% 0, 100% 35%, 100% 100%, 0 100%);

  @include vp-1920 {
    width: size(1360px);
    height: size(700px);
    padding: size(40px);
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;

    margin: auto 0;

    text-overflow: ellipsis;

    color: $color-white;

    -webkit-line-clamp: 2;
  }

  &__res-list {
    display: flex;
    justify-content: space-between;

    margin-top: -50px;
  }

  &__res-item {
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}